@using EnkelCrashDecoder.Data.V0
@rendermode InteractiveServer
@inject SessionService SS

@if (_regData != null)
{
    <table style="width:100%">
        <tr>
            <td><pre>RAX = @GetRegisterValue64("RAX")</pre></td>
            <td><pre>RBX = @GetRegisterValue64("RBX")</pre></td>
            <td><pre>RCX = @GetRegisterValue64("RCX")</pre></td>
            <td><pre>RDX = @GetRegisterValue64("RDX")</pre></td>
            <td><pre>RSI = @GetRegisterValue64("RSI")</pre></td>
            <td><pre>RDI = @GetRegisterValue64("RDI")</pre></td>
            <td><pre> R8 = @GetRegisterValue64("R8")</pre></td>
        </tr>

        <tr>
            <td><pre> R9 = @GetRegisterValue64("R9")</pre></td>
            <td><pre>R10 = @GetRegisterValue64("R10")</pre></td>
            <td><pre>R11 = @GetRegisterValue64("R11")</pre></td>
            <td><pre>R12 = @GetRegisterValue64("R12")</pre></td>
            <td><pre>R13 = @GetRegisterValue64("R13")</pre></td>
            <td><pre>R14 = @GetRegisterValue64("R14")</pre></td>
            <td><pre>R15 = @GetRegisterValue64("R15")</pre></td>
        </tr>

        <tr>
            <td><pre>RFLAGS = @GetRegisterValue64("RFLAGS")</pre></td>
            <td><pre>RIP = @GetRegisterValue64("RIP")</pre></td>
            <td><pre>RSP = @GetRegisterValue64("RSP")</pre></td>
            <td><pre>RBP = @GetRegisterValue64("RBP")</pre></td>
            <td><pre>FSBase = @GetRegisterValue64("FSBase")</pre></td>
            <td><pre>GSBase = @GetRegisterValue64("GSBase")</pre></td>
            <td><pre>GSBaseOther = @GetRegisterValue64("GSBaseOther")</pre></td>
        </tr>

        <tr>
            <td><pre>CR0 = @GetRegisterValue64("CR0")</pre></td>
            <td><pre>CR2 = @GetRegisterValue64("CR2")</pre></td>
            <td><pre>CR3 = @GetRegisterValue64("CR3")</pre></td>
            <td><pre>CR4 = @GetRegisterValue64("CR4")</pre></td>

            <td><pre>GDTR = @GetRegisterValue64("GDTR")</pre></td>
            <td><pre>IDTR = @GetRegisterValue64("IDTR")</pre></td>
            <td><pre>LDTR = @GetRegisterValue64("LDTR")</pre></td>
        </tr>

        <tr>
            <td><pre>LDTR = @GetRegisterValue64("LDTR")</pre></td>
            <td><pre>CS = @GetRegisterValue16("CS")</pre></td>
            <td><pre>DS = @GetRegisterValue16("DS")</pre></td>
            <td><pre>SS = @GetRegisterValue16("SS")</pre></td>
            <td><pre>ES = @GetRegisterValue16("ES")</pre></td>
            <td><pre>FS = @GetRegisterValue16("FS")</pre></td>
            <td><pre>GS = @GetRegisterValue16("GS")</pre></td>
        </tr>

        <tr>
            <td><pre>ESB = @GetRegisterValue16("EnkelStateBits")</pre></td>
            <td><pre>ISR0 = @GetRegisterValue8("ISR0")</pre></td>
            <td><pre>ISR1 = @GetRegisterValue8("ISR1")</pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
        </tr>
    </table>
}

@code {

    protected override void OnInitialized()
    {
        UpdateData();
        _sessionData.OnStateUpdated += () => InvokeAsync(() => UpdateData());
    }

    protected void UpdateData()
    {
        _sessionData = SS.GetScan(sessionId);

        foreach(var segment in _sessionData.Data.Segments)
        {
            if(segment.GetType() == typeof(QRPanicCPURegs))
            {
                _regData = segment;
            }
        }

        StateHasChanged();
    }

    public T GetRegisterValue<T>(string name)
    {
        if (_regData != null)
        {
            var prop = _regData.GetType().GetField(name);

            if (prop != null)
            {
                return (T)_regData.GetType().GetField(name).GetValue(_regData);
            }
            else
            {
                throw new InvalidDataException($"Unknown register {name}");
            }
        }
        else
        {
            return default(T);
        }
    }

    public UInt64 GetRegisterValue64(string name)
    {
        return GetRegisterValue<UInt64>(name);
    }

    public UInt32 GetRegisterValue32(string name)
    {
        return GetRegisterValue<UInt32>(name);
    }

    public UInt16 GetRegisterValue16(string name)
    {
        return GetRegisterValue<UInt16>(name);
    }

    public byte GetRegisterValue8(string name)
    {
        return GetRegisterValue<byte>(name);
    }

    [Parameter]
    public string sessionId { get; set; }

    [Parameter]
    public string componentName { get; set; }

    public SessionState _sessionData { get; set; }

    public object _regData { get; set; }
}
